@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: hsl(210, 46%, 95%); 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 255px 255px 255px 255px; 
  grid-gap: 30px;
}

/* TEXT */ 

h1 {
  /* font-size: */ 
  font-weight: 600;
  color:hsl(0, 0%, 100%); 
}


h3 {
  /* font-size: */ 
  font-weight: 500;
  color:hsl(0, 0%, 100%); 
}

.item3 h3, .item5 h3 {
  font-weight: 600;
}

.item1 h1, .item2 h1, .item4 h1 {
  font-weight: 500;
}




h1 {
  font-size: 20px
}

p {
  font-size: 13px; 
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.7); 
}

/* COLOURS */ 

figure h3 {
  color:hsl(0, 0%, 100%); 
  font-size: 13px
}

figure p {
  color: hsla(0, 0%, 81%, 0.5); 
  font-size: 11px
}

.item3 h1, .item3 h3, .item5 h1, .item5 h3 {
  color: hsl(219, 29%, 14%); 
}

.item3 figure p, .item5 figure p {
  color: hsla(219, 29%, 14%, 0.5)
}

.item3 p, .item5 p {
  color: hsla(219, 29%, 14%, 0.7)
}


.item1 figure p, .item1 figure p {
  color: hsla(0, 0%, 81%, 0.5)
}

.item1 p, .item1 p {
  color: hsla(0, 0%, 81%, 0.7)
}


.item1 img, .item4 img {
  border: 3px solid hsla(263, 55%, 70%, 0.7)
}


.item1 {
  background-color: hsl(263, 55%, 52%);
  grid-column-start: 1;
  grid-column-end: 3;

}

.item2 {
  background-color: hsl(217, 19%, 35%);
  grid-column-start: 3;
  grid-column-end: 4;

}

.item3 {
  background-color: hsl(0, 0%, 100%);
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;

}

.item4 {
  background-color: hsl(219, 29%, 14%);
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;

} 

.item5 {
  background-color: hsl(0, 0%, 100%);
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;

}


/* ... */ 


article {
  border-radius: 10px; 
}

article figure, article h1, article p {
  margin: 25px;
}

figure {
  display: flex; 
  align-items: center;
  margin: 0;
}

figure img {
  height: 100%;
  border-radius: 75%;
  margin-right: 20px;
}

figure h3, figure p {
  margin: 5px 0;
}


/* FOOTER */ 

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* 

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/ 
/* 

### Primary

Moderate violet: hsl(263, 55%, 52%) -> bg 1
Very dark grayish blue: hsl(217, 19%, 35%) bg 2
Very dark blackish blue: hsl(219, 29%, 14%) bg 4 + text of 3, 5
White: hsl(0, 0%, 100%) bg 3, 5 + text of 4 + text heading of 1,2 

### Neutral

Light gray: hsl(0, 0%, 81%) -> text p of 1, 2. 
Light grayish blue: hsl(210, 46%, 95%) bg body 

*/ 

